@model Lab2A.Models.EventModel
@{
    ViewBag.Title = "AddNewEvent";
}

<h2>AddNewEvent</h2>

@using (Html.BeginForm("AddEvent", "Event"))
{
    <div>
        @Html.Label("Event Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-constol" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div>
        @Html.Label("Event Location")
        @Html.TextBoxFor(m => m.Location, new { @class = "form-constol" })
        @Html.ValidationMessageFor(m => m.Location)
    </div>

    <button type="submit">Save</button><br />
    @Html.ActionLink("back", "ShowAllEvents")
}

